body{
	border-left: solid;
	border-width: 15px;
	background-color: black;
}
h1{
	color: #ffffff;
	font-size: 5em;
	font-family: Cursive;
	margin: auto;
	margin-left: 70px;
}
p{
	color: #ffffff;
	font-style:italic;
	font-size: 2em;
}
a{
	color: tan;
	font-family: Cursive;
	font-style: italic;
	font-size: 1.50em;
	margin: 2px 70px;
}
a:hover{
	color: #e42217;
	text-decoration: none;
	border: none;
}
img{
	/*border: solid white*/;
	position: relative;
	margin-top: 30px;
	left: 109px;
    


}
#header{
        height: auto;
	width: auto;
	color: white;
	border: solid white .5px;
	border-bottom-color: black;
	border-top-color: black;
	border-left-width: 30px;
	border-right-width: 30px;
	border-radius: 35%;
	text-align: center;
	border-left-color: Tan;
	border-right-color: Tan;
}
#toolbar{
	color: red;
	width: 1000px;
	position: relative;
	font-size: 20px;
	text-align: center;
	border-style: hidden;
	margin: auto;
}
.quotes{
	margin: 0%;
	padding: 0%;
	height: 115px;
	width: 600px;
	/*border: solid white;*/
}
.pic{
	left: 120px;
}
.purpose{
    text-align: center;
    font-family: Apple Chancery;
    font-size: 20px;
    border: crimson;
    border-width: medium;
    margin-left: 350px;
    width: 100%;
    }
